@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


body {
  background-image: url('../img/bg-landing-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.5px );
  -webkit-backdrop-filter: blur( 15.5px );
}

.bg-glass {
  width: 100%; 
  height: 100%; 
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.5px );
  -webkit-backdrop-filter: blur( 15.5px );
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.50);
}

.icon-menu {
  width: 60px;
  height: 60px;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.5px );
  -webkit-backdrop-filter: blur( 15.5px );
}

/* .nav-link {
  color: #ffffff;
} */

.nav-link {
  color: #532D1B;
}

/* .nav-link.active {
  border-bottom: 2px solid white ;
  color: #fff;
} */

.navbar-nav .nav-link.active {
  border-bottom: 2px solid #532D1B ;
  color: #532D1B;
}

.nav-link:hover {
  border-bottom: 2px solid white ;
}

.tagline {
  font-size: 40pt;
}

.tagline span {
  color: #532D1B;
}

.btn-shop {
  background-color: #532D1B;
  color: #ffffff;
}

.btn-shop:hover {
  background-color: white;
  color: #532D1B;
}

.img-about {
  border-radius: 20px;
  height: 400px;
  width: 300px;
}

h1,h2,h3,h4,h5,h6,p, .rating {
  color: #532D1B;
  /* color: #FFFFFF; */
}

footer {
  background-color: #532D1B;
  color: #ffffff;
  padding: 40px 0;
}


#product .container .row .col-md-6 {
  margin-bottom: 50px;
}

#product #position-img-menu {
  margin-top: -100px;
}

#product .container  .menu-title {
  margin-top: 60px;
  margin-bottom: 100px;
}


@media only screen and (max-width: 600px)  {
  #hero {
    margin-bottom: 200px;
  }
  #hero .container .row .col-md-6:nth-child(1) {
    order: 2;
    text-align: center;
  }

  #hero .icon-menu-parent {
    display: flex;
    justify-content: center;
  }

  .tagline {
    font-size: 25pt;
  }

  #about {
    padding: 0 30px;
  }

  #product {
    padding: 0 30px;
  }
  #product .container .row .col-md-6 {
    margin-bottom: 150px;
  }

  #product .container .menu-title {
    margin-top: 130px;
    margin-bottom: 100px;
  }

  footer .container .row{
    padding: 0 30px;
  }

  footer .container .row .col-lg-4 {
    display: flex;
    justify-content: center;
  }
}


@media only screen and (max-width: 800px) {
  /* #product .container .menu-title {
    margin-top: 150px;
    margin-bottom: 100px;
  } */

  /* #product .container .row .col-md-6 {
    margin-bottom: 180px;
  } */

}
/* 
@media only screen and (max-width: 800px) {
  #product .container  .menu-title {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  #product .container .row .col-md-6 {
    margin-bottom: 50px;
  }
  
} */